body,
h5 {
    margin: 0;
    //font-family: 'Lato', sans-serif;
    font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
    //font-family: "Georgia","Times New Roman","Times",serif;
    font-size: 18px;
    font-weight: 300;
    color: #394c7a;
}

p,
h4 {
    padding-left: 40px;
    padding-right: 40px;
}

h1,
h2 {
    //font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Marcellus', serif;
    font-weight: 200;
    font-size: 36px;
    color: #f88159;
}

h2 {
    font-weight: 400;
    font-size: 22px;
}

h5 {
    text-align: center;
}

.navbar-fixed-top {
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}

/* Po wstawieniu obrazka niepotrzebne */
#navbar-brand {
    color: aliceblue;
    padding-top: 5px;
}

.menu-class {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    z-index: 10;
}

#navigation a {
    font-size: 16px;
    color: #f88159;
    font-weight: 400;
    right: 30px;
}

#navigation a:hover {
    color: aliceblue;
    text-decoration: none;
    background-color: transparent;
    transition: all .7s;
}

#navigation.visited {
    color: #1ac056;
}

#navigation.active {
    background-color: bisque;
}


/* HEADER */

/* Bootstrap Carousel Plugin */

.container {
    position: relative;
    top: 0;
    /*    height: 100vh;*/
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

@keyframes magnify {
    from {
        transform: scale(1.0, 1.0);
    }
    to {
        transform: scale(1.05, 1.05);
    }
}

.item,
.item active {
    animation-name: magnify;
    animation-duration: 6s;
}

#logo {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*    opacity: 0.85;*/
    z-index: 2;
}

#o-nas,
#fryzjerstwo,
#kosmetyka,
#cennik,
#kontakt {
    padding-top: 50px;
    padding-bottom: 120px;
}


/* O NAS */

#o-nas {
    width: 100%;
    overflow: hidden;
}

#o-nas-left,
#o-nas-right {
    display: inline-block;
}

#o-nas-left {
    width: 35%;
    text-align: center;
    float: left;
    transform: scale(1.0);
    transition-duration: .5s;
}

#o-nas-left:hover {
    transform: scale(1.05);
    transition-duration: .5s;
}

#o-nas-right {
    width: 63%;
}

#o-nas-right>p {
    padding-left: 0;
}


/* FRYZJERSTWO */

#fryzjerstwo {
    background-color: floralwhite;
}

.panel-group {
    width: 98%;
    margin: auto;
}


/* Style the buttons that are used to open and close the accordion panel */

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

button.accordion.active,
button.accordion:hover {
    background-color: #ddd;
}


/* Style the accordion panel. Note: hidden by default */

#accordion-container {
    text-align: center;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: left;
}

button.accordion,
.panel {
    width: 95%;
}


/*
.panel > p {
    //margin-top: 10px;
    //margin-bottom: 10px;
    top: 10px;
    bottom: 10px;
}
*/

.panel {
    /*  Odległość między sekcjami  */
    margin-bottom: 5px;
    margin: auto;
}

button.accordion {
    /*  Wysokość sekcji  */
    padding: 14px;
    font-size: 16px;
    font-weight: 400;
    background-color: antiquewhite;
    color: #354772;
}

button.accordion:hover {
    background-color: blanchedalmond;
}

button.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 14px;
    color: #777;
    float: right;
    margin-left: 5px;
    margin-top: 4px;
}

button.accordion.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}


/* CENNIK */

table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: aliceblue;
}

tr:nth-child(even):hover {
    background-color: #def1ff;
    transition-duration: .5s;
}

tr:nth-child(odd):hover {
    background-color: #f8fcff;
    transition-duration: .5s;
}

td,
th {
    //border: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

td {
    font-size: 16px;
    font-weight: 400;
}

td:first-child,
th:first-child {
    text-align: left;
}

th {
    font-size: 16px;
    //background-color: #def1ff;
}


/* KONTAKT */

#kontakt {
    position: relative;
}

#map,
#dane-kontaktowe {
    display: inline-block;
}

#map {
    width: 50%;
    height: 550px;
}

#dane-kontaktowe {
    position: absolute;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 10px;
    height: 60px;
    padding-top: 11px;
    background-color: #222;
    font-size: 14px;
    color: darkgray;
}

footer div {
    display: inline-block;
    text-align: center;
    width: 33%;
}
