body {
    margin: 0;
/*  Usunięcie poziomego pasla przewijania  */
    overflow-x: hidden; 
}

body,
h5 {
    font-family: 'Lato', sans-serif;
    //font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
    //font-family: "Georgia","Times New Roman","Times",serif;
    font-size: 18px;
    font-weight: 400;
    color: #394c7a;
}

p,
h4 {
    padding-left: 40px;
    padding-right: 40px;
}

h1,
h2 {
    //font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Marcellus', serif;
    font-weight: 200;
    font-size: 36px;
    color: #f88159;
}

h2 {
    font-weight: 400;
    font-size: 22px;
}

h5 {
    text-align: center;
}

.text-small {
    font-size: 14px;
}

.text-center {
    //text-align: left;
}

#o-nas,
#fryzjerstwo,
#kosmetyka,
#solarium,
#cennik,
#kontakt {
    padding-top: 50px;
    padding-bottom: 120px;
}

#fryzjerstwo, #kontakt {
    padding-bottom: 0;
}

/* HEADER */

.navbar-fixed-top {
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}


/* Po wstawieniu obrazka niepotrzebne */

header ul {
    text-align: right;
}

.navbar-toggle {
    background-color: transparent;
    right: 30px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #f88159;
}

navbar-default .navbar-toggle:hover .icon-bar {
    background-color: aliceblue;
}

#navbar-brand {
    color: aliceblue;
    padding-top: 5px;
}

.menu-class {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    z-index: 10;
}

#navigation a {
    font-size: 16px;
    color: #f88159;
    font-weight: 400;
    right: 30px;
}

#navigation a:hover {
    color: aliceblue;
    text-decoration: none;
    background-color: transparent;
    transition: all .7s;
}

#navigation.visited {
    color: #1ac056;
}

#navigation.active {
    background-color: bisque;
}


/* Bootstrap Carousel Plugin */

.container {
    position: relative;
    top: 0;
    /*    height: 100vh;*/
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

@keyframes magnify {
    from {
        transform: scale(1.0, 1.0);
    }
    to {
        transform: scale(1.05, 1.05);
    }
}

.item,
.item active {
    animation-name: magnify;
    animation-duration: 6s;
}

#logo {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*    opacity: 0.85;*/
    z-index: 2;
}


/* O NAS */

#o-nas-left,
#o-nas-right {
    display: inline-block;
}

#o-nas-left {
    width: 35%;
    text-align: center;
    float: left;
    transform: scale(1.0);
    transition-duration: 4.5s;
}

#o-nas-left:hover {
    transform: scale(1.05);
    transition-duration: 4.5s;
}

#o-nas-left img {
    width: 350px;
    border-radius: 50%;
}

#o-nas-right {
    width: 63%;
}

#o-nas-right>p {
    padding-left: 0;
}


/* FRYZJERSTWO */

#fryzjerstwo {
    background-color: floralwhite;
}

.panel-group {
    width: 98%;
    margin: auto;
}

/* Style the buttons that are used to open and close the accordion panel */

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    text-align: left;
    /*  Wysokość sekcji  */
    line-height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    font-weight: 400;
    background-color: antiquewhite;
    color: #354772;    
    border: none;
    outline: none;
    transition: 0.4s;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

button.accordion.active,
button.accordion:hover {
    background-color: #ddd;
}


/* Style the accordion panel. Note: hidden by default */

.accordion-container {
    text-align: center;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: left;
    font-size: 16px;
}

button.accordion,
.panel {
    width: 95%;
}

.panel {
    /*  Odległość między sekcjami  */
    margin-bottom: 5px;
    margin: auto;
}

button.accordion:hover {
    background-color: blanchedalmond;
}

button.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 14px;
    color: #777;
    float: right;
    margin-left: 5px;
    //margin-top: 4px;

}

button.accordion.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

#logos {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

#logos .row {
    line-height: 90px;
    text-align: center;
}

/* KOSMETYKA */

#kosmetyka {
    background-color: floralwhite;
}

#other-services {
    font-size: 16px;
    margin-top: 20px;
    margin-left: 7px;
}

/* SOLARIUM */
#solarium {
    background-color: #f8fcff;
}

#solarium.parallax {
    /* The image used */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/solar.jpg);
    /* Set a specific height */
    //min-height: 500px; 
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* CENNIK */

#cennik p {
    text-align: center;
}

table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: aliceblue;
}

tr:nth-child(even):hover {
    background-color: #def1ff;
    transition-duration: .5s;
}

tr:nth-child(odd) {
    background-color: #fff;
}

tr:nth-child(1) {
    background-color: transparent;
}

tr:nth-child(odd):hover {
    background-color: #f8fcff;
    transition-duration: .5s;
}

td,
th {
    //border: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 8px;
}

td {
    font-size: 16px;
    font-weight: 400;
}

th {
    font-size: 16px;
    //background-color: #def1ff;
}


/* Taby */

.tabs {
    //min-width: 320px;
    max-width: 100%;
    padding: 50px;
    margin: 0 auto;
    background: #fff;
}

#cennik-fryzjerstwo,
#cennik-kosmetyka,
#cennik-solarium {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

#cennik-fryzjerstwo td:nth-child(2),
#cennik-fryzjerstwo td:nth-child(3),
#cennik-fryzjerstwo td:nth-child(4) {
    width: 13%;
}

#cennik-solarium table {
    width: 60%;
}

#cennik-solarium td:first-child {
    width: 85%;
}

input {
    display: none;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #a1a7b5;
    border: 1px solid transparent;
}

label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

label[for*='1']:before {
    content: '\f0c4';
}

label[for*='2']:before {
    content: '\f1fc';
}

label[for*='3']:before {
    content: '\f2c9';
}

label:hover {
    color: #656f86;
    cursor: pointer;
}

input:checked+label {
    color: #394c7a;
    border: 1px solid #ddd;
    border-top: 2px solid #f88159;
    border-bottom: 1px solid #fff;
}

#tab1:checked~#cennik-fryzjerstwo,
#tab2:checked~#cennik-kosmetyka,
#tab3:checked~#cennik-solarium {
    display: block;
}


/* KONTAKT */

#kontakt {
    text-align: center;
    color: aliceblue;
}

#kontakt h1,
#kontakt h5 {
    color: aliceblue;
}

#kontakt h5 {
    margin-top: 0;
}

#kontakt.parallax {
    /* The image used */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/salon.jpg);
    /* Set a specific height */
    //min-height: 500px; 
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#map,
#dane-kontaktowe {
    //display: inline-block;
    //width: 45%;
}

.column {
    display: flex;
    justify-content: center;
}

#map {
    height: 520px;
    width: 85%;
}

#dane-kontaktowe {
    margin-bottom: 80px;
}

#kontakt table {
    width: 70%;
}

#kontakt tr,
#kontakt th {
    background-color: transparent;
}

#kontakt td,
#kontakt th {
    border-bottom-color: transparent;
}

#kontakt a {
    text-decoration: none;
    color: #f88159;
    transition: all .7s;
}

#kontakt a:hover {
    color: aliceblue;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    height: 70px;
    padding-top: 11px;
}

footer div {
    display: inline-block;
    text-align: center;
    width: 33%;
}
