@import url('https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  color: #555;
  background: #eee;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

.tabs {
  //min-width: 320px;
  max-width: 100%;
  padding: 50px;
  margin: 0 auto;
  background: #fff;
}

#cennik-fryzjerstwo, #cennik-kosmetyka {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #999;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before { content: '\f0c4'; }
label[for*='2']:before { content: '\f1fc'; }
          
label:hover {
  color: #777;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #f88159;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #cennik-fryzjerstwo,
#tab2:checked ~ #cennik-kosmetyka {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}

table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: aliceblue;
}

tr:nth-child(even):hover {
    background-color: #def1ff;
    transition-duration: .5s;
}

tr:nth-child(odd):hover {
    background-color: #f8fcff;
    transition-duration: .5s;
}

td,
th {
    //border: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

td {
    font-size: 16px;
    font-weight: 400;
}

td:first-child,
th:first-child {
    text-align: left;
}

th {
    font-size: 16px;
    //background-color: #def1ff;
}
